In [100]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import numpy as np
import pandas as pd
import cv2 

# import matplotlib.pyplot as plt
# # from torchvision import datasets, transforms
from torch.utils.data import DataLoader
# import torch.nn as nn
# import torch.nn.functional as F
# import torch.optim as optim
import torch

import os

import seaborn as sns
sns.set(style="darkgrid")
from sklearn import preprocessing

import tensorflow as tf
# from tensorflow import image_dataset_from_directory
from tensorflow.keras import layers
from tensorflow.keras.preprocessing import image

from tensorflow.keras.layers.experimental import preprocessing
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [101]:
# Link to data on MoMA github
mydata_csv_url = 'https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv'

In [102]:
# load the data from local host
df = pd.read_csv('../data/artworks.csv')

# remove NAs from medium column
df = df.dropna(subset=['Medium', "ThumbnailURL"])

In [103]:
# Create target column
lith_condition = df['Medium'].str.lower().str.contains('lithograph')
df['Target'] = lith_condition

In [104]:
df = df[['ObjectID', 'ThumbnailURL', 'Target']]
df.head()

   ObjectID                                       ThumbnailURL  Target
0         2  http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...   False
1         3  http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...   False
2         4  http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...   False
3         5  http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...   False
4         6  http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...   False

Creating a column in the dataset with the image title as its saved to my local computer

In [105]:
number = df["ObjectID"]
end = ".jpg"

df["Image Title"] = (f"{number} + end").format(number=number,end=end)

In [106]:
image_dir = os.path.join('../data/images/all/')
image_dir

'../data/images/all/'

In [107]:
# filenames = os.listdir(original_train)
# categories = []

In [108]:
df["Image title?"] = ("df[ObjectID] + .jpg")
df

,ObjectID,ThumbnailURL,Target,Image Title,Image title?
0,2,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,False,0 2\n1 3\n2 ...,df[ObjectID] + .jpg
1,3,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,False,0 2\n1 3\n2 ...,df[ObjectID] + .jpg
2,4,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,False,0 2\n1 3\n2 ...,df[ObjectID] + .jpg
3,5,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,False,0 2\n1 3\n2 ...,df[ObjectID] + .jpg
4,6,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,False,0 2\n1 3\n2 ...,df[ObjectID] + .jpg
...,...,...,...,...,...
137967,416480,http://www.moma.org/media/W1siZiIsIjQ4OTQ3NSJd...,True,0 2\n1 3\n2 ...,df[ObjectID] + .jpg
137968,416481,http://www.moma.org/media/W1siZiIsIjQ4OTQ3NiJd...,True,0 2\n1 3\n2 ...,df[ObjectID] + .jpg
138174,417605,http://www.moma.org/media/W1siZiIsIjIyMzU1OCJd...,False,0 2\n1 3\n2 ...,df[ObjectID] + .jpg
138183,418508,http://www.moma.org/media/W1siZiIsIjEyNjMwNiJd...,False,0 2\n1 3\n2 ...,df[ObjectID] + .jpg
138184,418509,http://www.moma.org/media/W1siZiIsIjEyNjQ0NiJd...,False,0 2\n1 3\n2 ...,df[ObjectID] + .jpg

In [41]:
# string interpolation

0              2
1              3
2              4
3              5
4              6
           ...
137967    416480
137968    416481
138174    417605
138183    418508
138184    418509
Name: ObjectID, Length: 76063, dtype: int64 + end

In [84]:
# print (df["ObjectID"] + ".jpg")